<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal clickme" routerLink = "comments-list">Comments</h5>
  <!-- <a class="btn btn-outline-primary m-1" href="#" (click)="createComponent('Sign Up')">Sign Up</a>
  <a class="btn btn-outline-primary m-1" href="#" (click)="createComponent('Sign In')">Sign In</a> -->
  <a class="btn btn-outline-primary m-1" routerLink = "signup" [hidden] = "hideSignUp"> Sign Up </a>
  <a class="btn btn-outline-primary m-1" routerLink = "signin" [hidden] = "hideSignIn"> Sign In </a>
  <a class="btn btn-outline-primary m-1" [hidden] = "hideLogOut" (click) = "logOut"> Log Out </a>
</div>
<!-- <div (createComp)="createComponent($event)">
  <template #signUp></template>
  <template #signIn></template>
</div> -->


<router-outlet></router-outlet>